/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

/*
  Variables
*/
$breakpoint-sm: 600px;
$breakpoint-md: 782px;

$gutters-sm: 1rem;
$gutters-lg: 2rem;
$padding-sm: 1rem;
$padding-lg: 2rem;
