/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "common.scss";

/*
  Mixins
*/
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  } 
}

/*
  Row Base
*/
.vb-row {
  flex-wrap:wrap;
  display:flex;
}

/*
  Row Gutters
*/
.vb-row--gutters-sm {
  margin-left:-$gutters-sm;
  margin-right:-$gutters-sm;
}
.vb-row--gutters-sm > .vb-col {
  padding:$gutters-sm;
}
.vb-row--gutters-lg {
  margin-left:-$gutters-lg;
  margin-right:-$gutters-lg;
}
.vb-row--gutters-lg > .vb-col {
  padding:$gutters-lg;
}

/*
  Justify Columns
*/
.vb-row--justify-center {
  justify-content:center;
}
.vb-row--justify-start {
  justify-content:flex-start;
}
.vb-row--justify-end {
  justify-content:flex-end;
}
.vb-row--justify-between {
  justify-content:space-between;
}
.vb-row--justify-around {
  justify-content:space-around;
}
.vb-row--justify-evenly {
  justify-content:space-evenly;
}


/*
  Column base
*/
.vb-col {
  display:flex;
  flex-grow:1;
  box-sizing:border-box;
  width:100%;
}

.vb-col__inner {
  width:100%;
}

/*
  Column widths
*/
.vb-col--w-auto {
  flex-basis:0;
}
.vb-col--w-1\/2 {
  flex-basis:50%;
  flex-grow:0;
}
.vb-col--w-1\/3 {
  flex-basis:calc(100%/3);
  flex-grow:0;
}
.vb-col--w-2\/3 {
  flex-basis:calc(100%*2/3);
  flex-grow:0;
}
.vb-col--w-1\/4 {
  flex-basis:25%;
  flex-grow:0;
}
.vb-col--w-3\/4 {
  flex-basis:75%;
  flex-grow:0;
}
.vb-col--w-full {
  flex-basis:100%;
}

@include media-breakpoint-up($breakpoint-sm) {
  .sm\:vb-col--w-auto {
    flex-basis:0;
    flex-grow:1;
  }
  .sm\:vb-col--w-1\/2 {
    flex-basis:50%;
    flex-grow:0;
  }
  .sm\:vb-col--w-1\/3 {
    flex-basis:calc(100%/3);
    flex-grow:0;
  }
  .sm\:vb-col--w-2\/3 {
    flex-basis:calc(100%*2/3);
    flex-grow:0;
  }
  .sm\:vb-col--w-1\/4 {
    flex-basis:25%;
    flex-grow:0;
  }
  .sm\:vb-col--w-3\/4 {
    flex-basis:75%;
    flex-grow:0;
  }
  .sm\:vb-col--w-full {
    flex-basis:100%;
  }
}

@include media-breakpoint-up($breakpoint-md) {
  .md\:vb-col--w-auto {
    flex-basis:0;
    flex-grow:1;
  }
  .md\:vb-col--w-1\/2 {
    flex-basis:50%;
    flex-grow:0;
  }
  .md\:vb-col--w-1\/3 {
    flex-basis:calc(100%/3);
    flex-grow:0;
  }
  .md\:vb-col--w-2\/3 {
    flex-basis:calc(100%*2/3);
    flex-grow:0;
  }
  .md\:vb-col--w-1\/4 {
    flex-basis:25%;
    flex-grow:0;
  }
  .md\:vb-col--w-3\/4 {
    flex-basis:75%;
    flex-grow:0;
  }
  .md\:vb-col--w-full {
    flex-basis:100%;
  }
}

/*
  Column Padding
*/

.vb-col--pad-sm .vb-col__inner {
  padding:$padding-sm;
}
.vb-col--pad-lg .vb-col__inner {
  padding:$padding-lg;
}
.vb-col--center > .vb-col__inner {
  display:flex;
  align-items: center;
  justify-content: center;
}

/*
  Images
*/

.vb-col__image > .wp-block-image {
  margin: 0;
}

.vb-col--fit-cover,
.vb-col--fit-contain,
.vb-col--fit-fill,
.vb-col--fit-scale-down,
 {
  .vb-col__inner,
  .vb-col__image,
  .wp-block-image {
    height:100%;
  }
  img {
    height:100%;
    width:100%;
  }
}

.vb-col--fit-cover img {
  object-fit:cover;
}
.vb-col--fit-contain img {
  object-fit:contain;
}
.vb-col--fit-scale-down img {
  object-fit:scale-down;
}
.vb-col--fit-fill img {
  object-fit:fill;
}